body
{
min-width: 400px;
background-color: rgb(17, 48, 83) ;
font-family: 'Roboto', sans-serif;

}


button
{
background-color: #ADD8E6;
color: rgb(17, 48, 83);
border: 1px solid #ADD8E6;
padding: 10px;
border-radius: 5px;
margin-left: 8px;
margin-top: 12px;
font-weight: bold;
font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: #17e2f1;
    transform: scale(1.05);
    border: none;
}
button:active {
    background-color: #a9f8ab;
    transform: scale(1);
}

#del
{
        background: rgb(17, 48, 83);
        color: #ADD8E6 ;
        
}

input
{
    padding: 10px;
    width: 90%;
    background-color: #ADD8E6;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
}

a
{
   color: #ADD8E6;
}
ul{
    padding-left: 5px;
}
li{
    list-style: none;
    padding-top: 5px;
}

